@page
@model NationalDrivingLicense.Pages.DriverLicenses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h3>Create Driver Licence for @Model.UserName</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DriverLicense.UserName" value="@Model.UserName" />
            <input type="hidden" value="@Model.UserName" />
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="DriverLicense.Name" class="form-control" />
                <span asp-validation-for="DriverLicense.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input asp-for="DriverLicense.FirstName" class="form-control" />
                <span asp-validation-for="DriverLicense.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Date of Birth</label>
                <input asp-for="DriverLicense.DateOfBirth" class="form-control" />
                <span asp-validation-for="DriverLicense.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">License Type</label>
                <input asp-for="DriverLicense.LicenseType" class="form-control" />
                <span asp-validation-for="DriverLicense.LicenseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="DriverLicense.Valid">
                        <input class="big_checkbox" asp-for="DriverLicense.Valid" />
                        @Html.DisplayNameFor(model => model.DriverLicense.Valid)
                    </label>
                </div>
            </div> 
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="User" asp-route-id="@Model.UserName">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
