@page
@model NationalDrivingLicense.Pages.DriverLicenses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Details Driver Licence</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DriverLicense.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DriverLicense.UserName)
        </dd>
        <dt class="col-sm-2">Issued</dt>
        <dd class="col-sm-10">
            @Model.DriverLicense.IssuedAt.ToString("MM/dd/yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DriverLicense.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DriverLicense.Name)
        </dd>
        <dt class="col-sm-2">First Name</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DriverLicense.FirstName)
        </dd>
        <dt class="col-sm-2">License Type</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DriverLicense.LicenseType)
        </dd>
        <dt class="col-sm-2">Date of Birth</dt>
        <dd class="col-sm-10">
            @Model.DriverLicense.DateOfBirth.ToString("MM/dd/yyyy")
        </dd>
        <dt class="col-sm-2">Issued by</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DriverLicense.Issuedby)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DriverLicense.Valid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DriverLicense.Valid)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DriverLicense.Id"><i class="fa fa-edit fa-2x"></i></a>
    <a asp-page="./User" asp-route-id="@Model.DriverLicense.UserName">Back to List</a>
</div>
