@page
@model NationalDrivingLicense.AdminModel
@{
    ViewData["Title"] = "Driver License Administration";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h2>Driver License Administration</h2>

<form asp-page="./Admin" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" class="search" name="SearchString" value="@Model.CurrentFilter" />
            <button type="submit" value="Search" class="btn btn-outline-dark"> 
                <i class="fas fa-search" aria-hidden="true"></i>
            </button>
            <a asp-page="./Admin">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Admin" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Users[0].UserName)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a asp-page="./DriverLicenses/User" asp-route-id="@item.UserName">Driver Licenses</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Users.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Users.HasNextPage ? "disabled" : "";
}

<a asp-page="./Admin"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Users.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Admin"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Users.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>