@page
@model NationalDrivingLicense.Pages.DriverLicenseCredentialsModel
@{
}

<h3>@Model.DriverLicenseMessage</h3>
<br />
<br />

@if (Model.HasDriverLicense)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="qr" id="qrCode"></div>
            </div>
            <div class="col-sm">
                <div>
                    <img src="~/ndl_car_01.png" width="200" alt="Driver License">
                    <div>
                        <b>Driver Licence: @Html.DisplayFor(model => model.DriverLicense.UserName)</b>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-4">Issued</dt>
                            <dd class="col-sm-8">
                                @Model.DriverLicense.IssuedAt.ToString("MM/dd/yyyy")
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.DriverLicense.Name)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.DriverLicense.Name)
                            </dd>
                            <dt class="col-sm-4">First Name</dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.DriverLicense.FirstName)
                            </dd>
                            <dt class="col-sm-4">License Type</dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.DriverLicense.LicenseType)
                            </dd>
                            <dt class="col-sm-4">Date of Birth</dt>
                            <dd class="col-sm-8">
                                @Model.DriverLicense.DateOfBirth.ToString("MM/dd/yyyy")
                            </dd>
                            <dt class="col-sm-4">Issued by</dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.DriverLicense.Issuedby)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.DriverLicense.Valid)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.DriverLicense.Valid)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/js/qrcode.min.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.CredentialOfferUrl)",
                width: 300,
                height: 300
            });

    $(document).ready(() => {
        document.getElementById('begin_token_check').click();
    });

    </script>
}
